<header class="bg-white shadow" style="padding: 2rem 0;">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 text-left">
    <h1 class="text-7xl font-extrabold text-blue-900 dark:text-blue-400">
      <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600">
        Productos
      </span>
    </h1>
  </div>
</header>


<div class="container mx-auto my-8 p-4 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Listado de Productos</h2>
  
    <!-- Botón para agregar producto -->
    <div class="mb-4">
      <button class="bg-blue-600 text-white px-4 py-2 rounded" (click)="addProduct()">Agregar Producto</button>
    </div>



<!-- Switcher de Estado -->
<div class="flex items-center mb-4">
    <span class="mr-2 font-semibold">Mostrar:</span>
    <label class="relative inline-flex items-center cursor-pointer">
        <input 
            type="checkbox" 
            class="sr-only peer" 
            [(ngModel)]="statusActive" 
            (change)="toggleStatus()">
        <div 
            class="w-11 h-6 bg-red-500 peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer 
            peer-checked:bg-green-500 
            peer-checked:after:translate-x-5 peer-checked:after:border-white 
            after:content-[''] after:absolute after:top-[2px] after:left-[2px] 
            after:bg-white after:border after:rounded-full after:h-5 after:w-5 
            after:transition-all">
        </div>
        <span class="ml-3 text-sm font-medium text-gray-900">
            {{ statusActive ? 'Activos' : 'Inactivos' }}
        </span>
    </label>
</div>

<!-- Tabla en Pantallas Grandes -->
<div class="hidden md:block overflow-x-auto">
    <table class="w-full border-separate border-spacing-y-2 text-sm md:text-base">
        <thead>
            <tr class="bg-blue-100 text-blue-900 text-center">
                <th class="px-2 py-3 font-semibold">ID</th>
                <th class="px-2 py-3 font-semibold">Tipo</th>
                <th class="px-2 py-3 font-semibold">Descripción</th>
                <th class="px-2 py-3 font-semibold">Peso (kg)</th>
                <th class="px-2 py-3 font-semibold">Cantidad</th>
                <th class="px-2 py-3 font-semibold">Precio/kg</th>
                <th class="px-2 py-3 font-semibold">Stock</th>
                <th class="px-2 py-3 font-semibold">Ingreso</th>
                <th class="px-2 py-3 font-semibold">Vencimiento</th>
                <th class="px-2 py-3 font-semibold">Estado</th>
                <th class="px-2 py-3 font-semibold">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of paginatedProducts" class="bg-gray-50 hover:bg-gray-100 text-center border-b">
                <td class="px-2 py-3">{{ product.id }}</td>
                <td class="px-2 py-3">{{ product.type }}</td>
                <td class="px-2 py-3">{{ product.description }}</td>
                <td class="px-2 py-3">{{ product.packageWeight }}</td>
                <td class="px-2 py-3">{{ product.packageQuantity }}</td>
                <td class="px-2 py-3">{{ product.pricePerKg | currency }}</td>
                <td class="px-2 py-3">{{ product.stock }}</td>
                <td class="px-2 py-3">{{ product.entryDate | date: 'dd/MMM/yyyy' : 'es' }}</td>
                <td class="px-2 py-3">{{ product.expiryDate | date: 'dd/MMM/yyyy' : 'es' }}</td>
                <td class="px-2 py-3">
                    <span class="inline-flex w-5 h-5 rounded-full"
                        [ngClass]="{'bg-green-500': product.status === 'A', 'bg-red-500': product.status === 'I'}">
                    </span>
                </td>
                <td class="px-2 py-3 flex justify-center space-x-2 text-lg">
                    <button *ngIf="product.status === 'A'" class="text-blue-500 hover:text-blue-700" (click)="updateProduct(product.id, product)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button *ngIf="product.status === 'A'" class="text-red-500 hover:text-red-700" (click)="softDeleteProduct(product.id)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <button *ngIf="product.status === 'I'" class="text-green-500 hover:text-green-700" (click)="restoreProduct(product.id)">
                        <i class="fas fa-undo"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Estado de carga -->
<div *ngIf="isLoading" class="text-center mt-4">
    <p>Cargando productos...</p>
  </div>
</div>

<!-- Modal para agregar/editar producto -->
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded-lg w-96">
      <h2 class="text-2xl font-bold mb-4">{{ isEditMode ? 'Editar Producto' : 'Agregar Producto' }}</h2>
      <form (ngSubmit)="isEditMode ? updateProduct(productForm.id) : addProduct()">
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="type">Tipo</label>
          <input class="border p-2 w-full rounded" id="type" [(ngModel)]="productForm.type" name="type" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="description">Descripción</label>
          <input class="border p-2 w-full rounded" id="description" [(ngModel)]="productForm.description" name="description" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="packageWeight">Peso del Paquete (kg)</label>
          <input class="border p-2 w-full rounded" id="packageWeight" [(ngModel)]="productForm.packageWeight" name="packageWeight" type="number" min="0" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="packageQuantity">Cantidad por Paquete</label>
          <input class="border p-2 w-full rounded" id="packageQuantity" [(ngModel)]="productForm.packageQuantity" name="packageQuantity" type="number" min="0" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="pricePerKg">Precio por Kg</label>
          <input class="border p-2 w-full rounded" id="pricePerKg" [(ngModel)]="productForm.pricePerKg" name="pricePerKg" type="number" min="0" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="stock">Stock Disponible</label>
          <input class="border p-2 w-full rounded" id="stock" [(ngModel)]="productForm.stock" name="stock" type="number" min="0" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="entryDate">Fecha de Ingreso</label>
          <input class="border p-2 w-full rounded" id="entryDate" [(ngModel)]="productForm.entryDate" name="entryDate" type="date" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="expiryDate">Fecha de Vencimiento</label>
          <input class="border p-2 w-full rounded" id="expiryDate" [(ngModel)]="productForm.expiryDate" name="expiryDate" type="date" required />
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="status">Estado</label>
          <select class="border p-2 w-full rounded" id="status" [(ngModel)]="productForm.status" name="status" required>
            <option value="" disabled selected>Seleccione un estado</option>
            <option value="A">Disponible</option>
            <option value="I">Agotado</option>
          </select>
        </div>
        
        <div class="mb-4">
          <label class="block text-lg font-semibold" for="supplierId">ID del Proveedor</label>
          <input class="border p-2 w-full rounded" id="supplierId" [(ngModel)]="productForm.supplierId" name="supplierId" type="number" min="1" required />
        </div>
        
        <div class="flex justify-end">
          <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">{{ isEditMode ? 'Actualizar' : 'Agregar' }}</button>
        </div>
      </form>
    </div>
  </div>
  

<!-- Paginador -->
<div class="flex justify-center mt-4 space-x-2">
    <button 
        class="px-3 py-2 bg-gray-300 rounded-md text-sm font-semibold hover:bg-gray-400 disabled:opacity-50"
        [disabled]="currentPage === 1"
        (click)="cambiarPagina(currentPage - 1)">
        Anterior
    </button>

    <button 
        *ngFor="let page of getPages()"
        class="px-3 py-2 rounded-md text-sm font-semibold"
        [ngClass]="{'bg-blue-500 text-white': currentPage === page, 'bg-gray-200 hover:bg-gray-300': currentPage !== page}"
        (click)="cambiarPagina(page)">
        {{ page }}
    </button>
    
    <button 
        class="px-3 py-2 bg-gray-300 rounded-md text-sm font-semibold hover:bg-gray-400 disabled:opacity-50"
        [disabled]="currentPage === getPages().length"
        (click)="cambiarPagina(currentPage + 1)">
        Siguiente
    </button>
</div>